body {
	background-color: #23508b;
	background-image: none;
}

button {
	cursor: pointer;
}

hr {
	margin: 0 auto;
	width: 80%;
}

#main_section {
	padding-top: 30px;
	padding-bottom: 30px;
}

#bot_container {
	padding: 40px;
	width: 80%;
	height: auto;
	margin: 0 auto;
	border-radius: 20px;
	/* box-shadow: 0px 0px 20px black; */
	background-color: #122142;
	color: white;
	text-align: center;
}

#add_bot {
	display: block;
	height: 40px;
	width: 40px;
	margin: 0 auto;
	margin-top: -20px;
	border: 2px solid white;
	border-radius: 50%;
	background-color: #23508b;
	font-size: 20px;
	transition: 0.5s;

	margin-bottom: 10px;
}

#add_bot:hover {
	height: 48px; width: 48px;
	margin-top: -24px;
	font-size: 22px;
	font-weight: bold;
	background-color: white;
	color: black;
}


/*********************
*   BOT CARD PART    *
**********************/
div.card {
	height: 300px;
	width: 220px;
	background-color: rgb(58, 82, 202);
	border: 3px solid white;
	display: inline-block;
	margin: 0 auto;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 40px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s;
}

div.profile {
	height: 79%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url('../images/artificial-intelligence.png');
}

div.info {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	height: calc(20% - 17px);
	width: calc(100% - 19px);
	/* margin-left: -1px; */
	background-color: black;
	padding: 10px;
	color: white;
}

p.info-name {
	display: inline;
	font-size: 20px;
	margin-right: 30px;
	font-family: Consolas;
}

button.info-button {
	height: 20px;
	width: 20px;
	border-radius: 30%;
}

button.start-info-button {
	background-color: red;
	border: 1px solid red;
}

button.start-info-button-started {
	background-color: green;
	border: 1px solid green;
}

button.del-info-button {
	border: 1px solid white;
	background-color: white;
	background-image: url('../images/delete.ico');
	background-position: center;
	background-size: contain;
	transition: 1s;
}

button.more-bot-info {
	border: 1px solid white;
	background-color: white;
	background-image: url('../images/information.png');
	background-position: center;
	background-size: contain;
}

button.del-info-button:hover {
	background-color: red;
	border: 1px solid red;
}

button.more-bot-info:hover {
	background-color: yellow;
	border: 1px solid yellow;
}

div.card:hover {
	transform: translateY(-10px);
	box-shadow: 0px 5px 30px black;
}

/************************
*  Add bot button part  *
*************************/
section.input-token {
	position: fixed;
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0; left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 18;
}

a { font-weight: bold;}

div.form-design {
	width: 30%;
	padding: 20px;
	background-color: rgb(36, 37, 117);
	border-radius: 30px;
	border: 5px solid white;
	/* color: black; */
}

p.enter-bot-token {
	margin: 0;
	font-size: 20px;
	/* color: black; */
}

p.submit-status {
	font-size: 14px;
	font-family: Consolas;
}

input.input-token {
	height: 30px;
	width: calc(80% - 20px);
	border-radius: 20px;
	border: none;
	color: black;
	padding-left: 3px;
}

button.input-token {
	height: 35px;
	width: calc(20% - 20px);
	border: 1px solid white;
	background-color: transparent;
	border-radius: 10px;
	margin-left: 4%;
	transition: 0.5s;
}

button.input-token:hover {
	background-color: white;
	color: black;
}