:root {
	--basic-color: rgb(4, 85, 89);
	--advanced-color: rgb(114, 78, 25);
}

@font-face {
	font-family: 'OSansExtraBold';
	src: url('fonts/open_sans_extrta_bold/OpenSans-ExtraBold.ttf');
}

@font-face {
	font-family: 'OSansLight';
	src: url('fonts/open_sans_light/OpenSans-Light.ttf');
}

* {
	color: white;
	font-family: 'OSansLight';
	scroll-behavior: smooth;	
}

a {
	text-decoration: none;
}

body {
	/* background-color: #23508b; */
	background-image: linear-gradient(#23508b, rgb(37, 38, 56));
}

header {
	background-color: rgba(13, 12, 12, 0.70);
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 130px;
	z-index: 1;
}

button {
	cursor: pointer;
}

main {
	padding-top: 130px;
}

footer {
	width: calc(100% - 20px);
	padding: 10px;
	left: 0;
	text-align: center;
	background-color: black;
	position: absolute;
	color: white;
}

p.header-title {
	font-family: 'OSansExtraBold';
	font-size: 40px;
	display: inline-block;
}

button.header {
	height: 50px;
	width: 100px;
	background-color: transparent;
	display: inline-block;
	margin-top: 45px;
	border-radius: 15px;
	border: none;
	font-size: 15px;
	transition: 0.5s;
}

button.header:hover {
	background-color: white;
	color: black;
}

button.header-selected {
	background-color: white;
	color: black;
}

button.cards {
	height: 200px;
	width: 180px;

	font-size: 20px;
	border: none;
	border-radius: 10px;
	background-color: rgb(4, 85, 89);
	box-shadow: 0px 2px 3px rgb(37, 36, 36);
	transition: 0.5s;
}

button.cards-advanced {
	background-color: rgb(114, 78, 25);
}

button.cards:hover {
	height: 100%;
	width: 100%;
	font-size: 25px;
	box-shadow: 0px 2px 5px rgb(37, 36, 36);
}

button.bot-check {
	width: 100%;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	transition: 1s;
}

button.bot-check:hover {
	background-color: rgb(255, 255, 255);
	color: black;
}

button.list-selected {
	background-color: rgba(28, 99, 28, 0.5);
}

img.bot-manager-bg {
	display: inline-block;
	max-height: 500px;
	max-width: 500px;
	top: 0; left: 0;
	border: none;
	margin: auto;
}

h2.proceed {
	cursor: pointer;
	opacity: 0.5;
	transition: 0.5s;
	text-shadow: 0px 3px black;
	/* background-color: rgb(48, 47, 47); */
}

h2.proceed:hover {
	opacity: 1;
	transform: translateY(-20px);
	text-shadow: 0px 10px black;
}

div.header-element-wrapper {
	height: 100%;
	/* background-color: antiquewhite; */
	float: left;
}

div.header-element-wrapper-right {
	height: 100%;
	/* background-color: antiquewhite; */
	float: right;
}

div.button-container {
	margin-left: 3%;
}

div.header-holder {
	width: 80%;
	height: 100%;
	/* background-color: aquamarine; */
}

div.contents-1 {
	margin-top: 50px;
	float: left;
}

div.contents-2 {
	margin-top: 50px;
	float: left;
	width: 45%;
}

div.breaker {
	height: 150px;
	clear: both;
}

div.function-container {
	width: 60%;
	margin-left: 5%;
}

div.card-wrapper {
	height: 230px;
	width: 210px;

	float: left
}

div.function-info {
	/* background-color: rgb(36, 37, 117); */
	border-radius: 20px;
	border: 3px solid white;
	padding: 1%;
	width: 30%;
	height: auto;
	margin: auto;
}

div.specific-info {
	height: 50px;
	width: 95%;
	text-align: center;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.177);
	cursor: pointer;
	transition: 1s;
}

div.specific-info:hover {
	background-color: black;
}

div.close-container {
	margin: auto;
	margin-top: 15px;
	width: 95%;
}

div.info-container {
	height: auto;
	width: 95%;
	padding: 10px;
	max-height: 250px;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

#proceed {
	display: block;
	margin: auto;
	padding: 20px;
	font-size: 15px;
	background-color: transparent;
	border: 1px solid white;
	transition: 0.5s;
	clear: both;
}

#function-information-adder {
	position: fixed;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(0, 0, 0, 0.5);
	z-index: 1;
	display: none;
}

#close-panel {
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	background-color: transparent;
	border: 1px solid white;
	transition: 1s;
}

#close-panel:hover {
	background-color: white;
	color: black;
}

#goback-panel {
	border: 1px solid white;
	background-color: transparent;
	transition: 1s;
}

#goback-panel:hover {
	background-color: white;
	color: black;
}

#proceed:hover {
	background-color: white;
	color: black;
	padding-left: 30px;
	padding-right: 30px;
}

.color-button-basic {
	background-color: rgb(4, 85, 89);
}

.color-button-advanced {
	background-color: var(--advanced-color);
}